
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#09090b] text-slate-50 antialiased overflow-hidden;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.animate-in {
  animation-duration: 400ms;
}
